body {
  background: #faf9f8;
}
body > header + div {
  padding: 36px 36px 0 244px;
  min-height: 100vh;
}

@media screen and (max-width: 1024px) {
  body > header + div {
    padding: 36px 36px 0 172px;
  }
}
