@keyframes stretchWidth {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

.nav li:after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: #c3c3c3;
}

.nav li a {
  display: block;
  padding: 14px 0;
  font-size: 1.2em;
}
.nav .nav__on {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #121212;
  font-weight: bold;
}

.nav .nav__on:after {
  animation: stretchWidth 0.4s 0.2s ease forwards;
}

@media screen and (max-width: 1024px) {
  @keyframes stretchWidth {
    0% {
      width: 0;
    }
    100% {
      width: 36px;
    }
  }
}
